.MainDescription{
  @apply flex items-center flex-col text-slate-400 ;
  
  h5{
    @apply text-black text-[20px];
  }
  p{
    @apply text-lg;
  }
  
  &__focus{
    @apply grid lg:grid-cols-2 gap-8;
    justify-items: center;
    
    .item-grid{
      display: grid;
      align-items: center;
      column-gap: 20px;
      row-gap: 10px;
      
      @screen 2xs {
        grid-template-columns: auto 1fr;
        
        p{
          grid-column: 2 / 3;
        }
      }
      
      p{
        @apply pb-16;
      }
    }
  }
}