.PostContent{
  @apply pt-6 pb-10 px-4;
  display: flex;
  justify-content: center;
  
  & > .main_container {
    @apply text-lg font-light;    
    max-width: 850px;
    
    *{
      font-size: inherit;
    }
    
    h2{
      @apply text-[2.2rem] font-bold;
      @apply border-b border-slate-300;
    }
    
    h3{
      @apply text-[2rem] font-bold;
    }
    
    a{
      @apply text-primary font-bold;
    }
    
    p{
      @apply my-8;
    }
    
    ul{
      list-style: disc;
    }
    
    ol{
      list-style: decimal;
    }
    
    img{
      @apply pb-12;
    }
    
    strong{
      @apply font-bold;
    }
    
    figure{
      @apply pb-8;
    }
    
    & > blockquote {
      @apply px-12 py-1 border-primary;
      display: block;
      border-left-width: 10px;
    }
    
    ul, ol {
      @apply py-8 pl-8 ml-12;
      
      // list-style: initial;
      
      li{
        @apply pt-4;
        
        &:first-of-type{
          @apply p-0;
        }
      }
    }
  }
}