.Header{
  @apply py-4 px-6;
  z-index: 3;
  color: #ffffffd7;
  width: 100%;
  transition: .3s;
  background-color: #232c3d;
  
  &.relative{
    @apply py-4;
    background-color: #232c3d;
  }
  
  &.fixed {
    position: relative;
    
    @screen md{
      position: fixed
    }
  }
  
  @screen md{
    // position: fixed;
    &.fixed.onTop{
      @apply py-8;
      background: linear-gradient(180deg, rgba(35,44,61,1) 0%, transparent 100%);
      
      a:active{
        background-color: transparent !important;
      }
    }
  }
  
  @media screen and (max-width: 768px){
    &.transparent{
      background: linear-gradient(180deg, rgba(35,44,61,1) 0%, transparent 100%);
    }
  }
  
  
  
  .burger-button{
    @apply active:bg-slate-700  md:hidden rounded-xl p-6;
    background-color: rgba(35, 44, 61, 0.25);
    position: fixed;
    bottom: 50px;
    right: 30px;
    transition: .1s;
  }
  
  nav{
    
    .navbar-brand img{
      // max-width: 40px; 
      max-width: 80px; 
      
      @screen md{
        max-width: 80px; 
      }
    }
    
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 20px;
    
    @screen md{
      grid-template-columns: auto 1fr auto;
    }
    
    .nav-links{
      // @apply font-medium pl-10 hidden md:grid;
      @apply font-medium grid md:grid-flow-col;
      @apply py-4 md:py-0 md:px-10 rounded-xl;
      @apply bg-secondary md:bg-transparent;
      
      gap: 15px;
      position: fixed;
      right: -100%;
      bottom: 125px;
      transition: .3s;
      
      &.opened{
        right: 20px;
      }
      
      @screen md {
        width: auto;
        position: unset;
        gap: 25px;
        justify-content: start;
        align-content: center;
      }
      
      a{
        @apply pl-8 pr-10 md:p-0 active:bg-slate-700;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
      }
    }
    
    .nav-social-links{
      display: grid;
      grid-template-columns: 50px 50px;
      gap: 10px;
      
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: red;
        width: 100%;
        height: 100%;
      }
    }
  }
}

